$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$sidePadding: 15px;
$topPadding: 4px;
$headerBgColor: #5f5f5f;
$headerTextColor: #f5f5f5;
$headerFontSize: 14px;
$shadowAlpha: 0.6;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Scale up the modal
@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm { width: $modal-sm; }
}

@media (min-width: $screen-md-min) {
  .modal-lg { width: $modal-lg; }
}


@import "_layout.scss";
@import "_map.scss";
@import "_cal-heatmap.scss";
@import "_angularslider.scss";
@import "_linechart.scss";
@import "compass/css3/box-shadow";

/* Custom page header */
.header {
  padding: $topPadding $sidePadding;
  border-bottom: 1px solid #000;
  background-color: $headerBgColor;
  color: $headerTextColor;
  font-size: $headerFontSize;

  @include box-shadow(rgba(black,$shadowAlpha) 0 -5px 15px 0px inset);

  a {
    text-decoration: none;
    color: $headerTextColor;
    font-size: $headerFontSize;
    margin-right: 35px;
  }
}

/* Custom page footer */
.footer {
  font-size: $headerFontSize;
  padding: $topPadding $sidePadding;
  color: $headerTextColor;
  border-top: 1px solid #000;
  background-color: $headerBgColor;

  @include box-shadow(rgba(black,$shadowAlpha) 0 5px 15px 0px inset);

  p{
    margin: 0;
  }
}

#ugentlogo{
  height: $logoHeight;
}

.color-box{
  width: 10%;
  display:inline-block;
  text-align: center;
}

.borderless{
  border: none;
  width: 100%;
}

tr.subtitle > td
{
  font-size: 150%;
  padding-top: 10px;
  border-top: 1px solid gray;
}

tr.lastrow > td
{
  padding-bottom: 15px;
}

.iconcontainer{
  display: inline-block;
  height: 14px;
  width: 14px;
  font-size: 14px;
  line-height: 1.5;
}


.display-table{
  display: table;
  table-layout: fixed;
}

.display-cell{
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.helpbutton{
  background-color: Transparent;
  background-repeat:no-repeat;
  background-image: Transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.alert{
  border: 1px solid red;
  color: red;
}

.close{
  float:right;
}

#datasetMenu{
  text-align: left;
}

input[type=file]{ 
  display:none;
}

.customFileUpload{
  padding: 3px 20px;
  margin-bottom: 0;
  color: #333;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

/* Pop-up page */
.icon-success {
    color: #5CB85C;
}

.icon-danger {
    color: #A00000;
}
