<div>
	<div class="panel panel-default">
	  <div class="panel-heading">How much data would you like to receive?</div>
	  <div class="panel-body">
	    <label for=trafficDelay>Traffic Delay Data</label>
		<input type=checkbox id="trafficDelayCheckbox">
		<input type="range" id="trafficDelay" min="1" value="11" max="20" step="1">

		<label for=trafficDelay>Weather Data</label>
		<input type=checkbox id="weatherCheckbox">
		<input type="range" id="weather" min="1" value="5" max="20" step="1">

		<label for=trafficDelay>Traffic Events Data</label>
		<input type=checkbox id="trafficEventsCheckbox">
		<input type="range" id="trafficEvents" min="1" value="15" max="20" step="1">
	  </div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h4>Import own dataset:</h4>
			<button>Open...</button>
		</div>
	</div>
</div>