<div class="alert" id="alert" ng-show="errorMessage">
	<span class='close' onclick="hide('alert')">x</span>
    <strong>{{errorMessage}}</strong>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<h3>Which data should be mapped to the visualizations?</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-md-8">
		<table class="table-striped borderless">
			<tr></tr>
			<tr class="lastrow">
				<th> 
					Dataset:
				</th>
				<td> 

					<div class="dropdown">
					  	<input type="button" value="Select a dataset" class="btn btn-default dropdown-toggle" type="button" id="datasetMenu" data-toggle="dropdown" aria-expanded="true">
					  <ul class="dropdown-menu" role="menu" aria-labelledby="datasetMenu">
					  	<!-- ng-repeat is used instead of ng-options because I wanted Add file.. to be in the back for consistent indexing -->
						<li role="presentation" ng-repeat="dataset in datasets"><a role="menuitem" ng-click="updateDataset(dataset.name)">{{dataset.name}}</a></li>
						<li role="presentation"><input type="file" accept=".json"></li>
					  </ul>
					</div>
					<!--<select class="form-control input-sm" ng-model="selectedFile" data-ng-change="populateDropdowns()" required>-->
						<!-- ng-repeat is used instead of ng-options because I wanted Add file.. to be in the back for consistent indexing -->
						<!--<option ng-repeat="dataset in datasets">{{dataset.name}}</option>
        				<option value="" id="fileExplorer">Add file..</option>  
      				</select>--> 
				</td>
			</tr>

			<tr class="subtitle">
				<td> 
					Locations: <div class="iconcontainer"><span title="Give a location here (OPTIONAL)" class="glyphicon glyphicon-question-sign"></span></div>
				</td>
				<td>
				</td>
			</tr>

			<tr></tr>

			<tr class="lastrow">
				<th>
					Column:
				</th>

				<td>
				 	<select class="form-control input-sm" ng-model="currentDataset.location" ng-options="column for column in currentDataset.columns"></select>
				</td>
			</tr>

			<tr class="subtitle">
				<td> 
					Values: <div class="iconcontainer"><span title="Give a value here (Aggregation is OPTIONAL)" class="glyphicon glyphicon-question-sign" ></span></div>
				</td>
				<td> 
				</td>
			</tr>

			<tr></tr>

			<tr>
				<th>
					Column:
				</th>

				<td>
					<select class="form-control input-sm" ng-model="currentDataset.value" ng-options="column for column in currentDataset.columns"></select>
				</td>
			</tr>

			<tr></tr>

			<tr class="lastrow">
				<th>
					Aggregate by:
				</th>

				<td>
					<select class="form-control input-sm" ng-model="currentDataset.aggregation" ng-options="aggregation for aggregation in aggregations"></select>
				</td>
			</tr>		

			<tr class="subtitle">
				<td> 
					Dates: <div class="iconcontainer"><span title="Give the dates here (Grouping is OPTIONAL)" class="glyphicon glyphicon-question-sign" ></span></div>
				</td>
				<td> 
				</td>
			</tr>

			<tr></tr>

			<tr>
				<th>
					Column:
				</th>

				<td>
					<select class="form-control input-sm" ng-model="currentDataset.date" ng-options="column for column in currentDataset.columns"></select>				
				</td>
			</tr>

			<tr></tr>

			<tr class="lastrow">
				<th>
					Group by:
				</th>

				<td>
					<select class="form-control input-sm" ng-model="currentDataset.grouping" ng-options="group for group in grouping"></select>
				</td>
			</tr>

		</table>
	</div>

	<div class="col-xs-4 col-md-4">
		<div class="row">
			<div class="list-group">
				<a ng-repeat="dataset in userDatasets" ng-class="{ 'list-group-item active': this.dataset == currentDataset, 'list-group-item': this.dataset != currentDataset}"class="list-group-item" ng-click="changeDataset(this.dataset)">{{dataset.name}}</a>
			</div>
			<div class="btn-group" style="width: 100%;">
				<a ng-click="addDataset()" class="btn btn-default" ><span class="glyphicon glyphicon-plus"></span></a>
				<a ng-click="removeDataset()" class="btn btn-default" ><span class="glyphicon glyphicon-minus"></span></a>
				<a ng-click="downloadData()" class="btn btn-success" style="float:right;"><span class="glyphicon glyphicon-ok-circle"></span></a>
			</div>
		</div>
	</div>

</div>