<div class="row">
	<div class="col-xs-12 col-md-12">
		<h3>Which data should be mapped to the visualizations?</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-md-8">
		<table class="table-striped borderless">
			<tr></tr>
			<tr class="lastrow">
				<th> 
					Dataset: 
				</th>
				<td> 
					<select ng-model="selectedFile" ng-options="val for val in files">
        				<option value="">Select</option>
      				</select>
					<!--<div ng-app="" ng-controller="FileLoader">
						<select class="form-control input-sm" required>
								<option value="one">One</option>
								<option value="two">Two</option>
								<option value="three">Three</option>
								<option value="four">Four</option>
								<option value="five">Five</option>
						</select>
					-->
				</td>
			</tr>

			<tr class="subtitle">
				<td> 
					Locations: <div class="iconcontainer"><span title="Give a location here" class="glyphicon glyphicon-question-sign"></span></div>
					{{files}}
				</td>
				<td>
				</td>
			</tr>

			<tr></tr>

			<tr class="lastrow">
				<th>
					Column:
				</th>

				<td>
				 <select class="form-control input-sm">
							<option value="one">One</option>
							<option value="two">Two</option>
							<option value="three">Three</option>
							<option value="four">Four</option>
							<option value="five">Five</option>
					</select>
				</td>
			</tr>

			<tr class="subtitle">
				<td> 
					Values: <div class="iconcontainer"><span title="Give a value here" class="glyphicon glyphicon-question-sign" ></span></div>
				</td>
				<td> 
				</td>
			</tr>

			<tr></tr>

			<tr>
				<th>
					Column:
				</th>

				<td>
				 <select class="form-control input-sm" required>
							<option value="one">One</option>
							<option value="two">Two</option>
							<option value="three">Three</option>
							<option value="four">Four</option>
							<option value="five">Five</option>
					</select>
				</td>
			</tr>

			<tr></tr>

			<tr class="lastrow">
				<th>
					Aggregate by:
				</th>

				<td>
				 <select class="form-control input-sm">
							<option value="one">One</option>
							<option value="two">Two</option>
							<option value="three">Three</option>
							<option value="four">Four</option>
							<option value="five">Five</option>
					</select>
				</td>
			</tr>		

			<tr class="subtitle">
				<td> 
					Dates: <div class="iconcontainer"><span title="Give the dates here" class="glyphicon glyphicon-question-sign" ></span></div>
				</td>
				<td> 
				</td>
			</tr>

			<tr></tr>

			<tr>
				<th>
					Column:
				</th>

				<td>
				 <select class="form-control input-sm" required>
							<option value="one">One</option>
							<option value="two">Two</option>
							<option value="three">Three</option>
							<option value="four">Four</option>
							<option value="five">Five</option>
					</select>				
				</td>
			</tr>

			<tr></tr>

			<tr class="lastrow">
				<th>
					Group by:
				</th>

				<td>
				 <select class="form-control input-sm">
							<option value="one">One</option>
							<option value="two">Two</option>
							<option value="three">Three</option>
							<option value="four">Four</option>
							<option value="five">Five</option>
					</select>
				</td>
			</tr>

		</table>
	</div>

	<div class="col-xs-4 col-md-4">
		<div class="list-group">
			<a href="#" class="list-group-item active">First item</a>
			<a href="#" class="list-group-item">Second item</a>
			<a href="#" class="list-group-item">Third item</a>
		</div>
		<div class="btn-group">
			<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</a>
			<a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok-circle"></span> Finish</a>
		</div>
	</div>

</div>