<style>
	.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
	}
	.subtitle {
		font-size: 150%;
	}

	.display-table{
		  display: table;
		  table-layout: fixed;
	}

	.display-cell{
		  display: table-cell;
		  vertical-align: middle;
		  float: none;
	}
</style>

<div class="col-xs-8 col-md-8">

	<div class="row">
		<h3>Which data should be mapped to the visualizations?</h3>
	</div>
	<div class="row">
		<div class="col-xs-8 col-md-8">
			<table class="table table-responsive borderless">

				<tr>
					<th> 
						Dataset: 
					</th>
					<td> 
					 <select class="form-control input-sm">
								<option value="one">One</option>
								<option value="two">Two</option>
								<option value="three">Three</option>
								<option value="four">Four</option>
								<option value="five">Five</option>
						</select>
					</td>
				</tr>

				<tr>
					<td class="subtitle"> 
						Locations: <button type="button" class="btn btn-xs btn-info" title="Give a location here"><span class="glyphicon glyphicon-question-sign" ></span></button>
					</td>
					<td> 
					</td>
				</tr>

				<tr>
					<th>
						Column:
					</th>

					<td>
					 <select class="form-control input-sm">
								<option value="one">One</option>
								<option value="two">Two</option>
								<option value="three">Three</option>
								<option value="four">Four</option>
								<option value="five">Five</option>
						</select>
					</td>
				</tr>

				<tr>
					<td class="subtitle"> 
						Values: <button type="button" class="btn btn-xs btn-info" title="Give a value here"><span class="glyphicon glyphicon-question-sign" ></span></button>
					</td>
					<td> 
					</td>
				</tr>

				<tr>
					<th>
						Column:
					</th>

					<td>
					 <select class="form-control input-sm">
								<option value="one">One</option>
								<option value="two">Two</option>
								<option value="three">Three</option>
								<option value="four">Four</option>
								<option value="five">Five</option>
						</select>
					</td>
				</tr>

				<tr>
					<th>
						Aggregate by:
					</th>

					<td>
					 <select class="form-control input-sm">
								<option value="one">One</option>
								<option value="two">Two</option>
								<option value="three">Three</option>
								<option value="four">Four</option>
								<option value="five">Five</option>
						</select>
					</td>
				</tr>			

				<tr>
					<td class="subtitle"> 
						Dates: <button type="button" class="btn btn-xs btn-info" title="Give the dates here"><span class="glyphicon glyphicon-question-sign" ></span></button>
					</td>
					<td> 
					</td>
				</tr>

				<tr>
					<th>
						Column:
					</th>

					<td>
					 <select class="form-control input-sm">
								<option value="one">One</option>
								<option value="two">Two</option>
								<option value="three">Three</option>
								<option value="four">Four</option>
								<option value="five">Five</option>
						</select>				
					</td>
				</tr>

				<tr>
					<th>
						Group by:
					</th>

					<td>
					 <select class="form-control input-sm">
								<option value="one">One</option>
								<option value="two">Two</option>
								<option value="three">Three</option>
								<option value="four">Four</option>
								<option value="five">Five</option>
						</select>
					</td>
				</tr>

			</table>
		</div>

		<div class="col-xs-4 col-md-4">
			<div class="list-group">
				<a href="#" class="list-group-item active">First item</a>
				<a href="#" class="list-group-item">Second item</a>
				<a href="#" class="list-group-item">Third item</a>
			</div>
			<a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok-circle"></span> Finish</a>
		</div>

	</div>

	<div class="row display-table">
		<div class="col-xs-4 col-md-4 display-cell">
			<img src="/images/logo_UGent.png" class="img-responsive img-circle">
		</div>
		<div class="col-xs-8 col-md-8 display-cell">
			<h2>Big Data Science 2015-2016</h2>
		</div>
	</div>

</div>

<div class="col-xs-4 col-md-4">
	<div class="row"> <h3>Manual</h3></div>
	<div class="row pre-scrollable">
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia ligula sem, vulputate consequat neque cursus in. Maecenas felis enim, faucibus ut tellus eu, accumsan interdum est. Nulla facilisi. Sed mollis maximus est et consequat. Aenean lacinia lorem sed felis tempor, et aliquam metus molestie. Etiam a felis eu sapien sodales hendrerit a nec mi. Donec eros mi, mattis ac neque at, ultrices viverra magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sit amet elit arcu. Etiam congue nulla ut augue porttitor gravida tristique a sem. Duis viverra ante tellus, non mattis turpis sodales eu.

Etiam mauris ligula, eleifend ut lacinia ut, cursus eget sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id pharetra mauris, non viverra velit. Curabitur at erat feugiat, vulputate sem et, mattis tellus. Donec fermentum volutpat est, cursus malesuada libero egestas in. Praesent ornare arcu augue, ac efficitur leo maximus et. Donec bibendum neque et felis sodales eleifend. Suspendisse posuere leo et mollis tristique.

Suspendisse vel ligula sed velit rutrum venenatis. Nulla ut risus suscipit, euismod nulla sit amet, rhoncus felis. Proin dolor mauris, accumsan nec sapien eget, placerat egestas nisl. Phasellus convallis lacus est, id porta augue venenatis sed. Praesent ut ex quam. Nunc ullamcorper condimentum quam. Nunc sapien leo, egestas sed euismod vel, dignissim nec orci. Duis et ante ligula. Sed in convallis erat. Phasellus gravida mi eu egestas iaculis. Fusce ut sollicitudin justo. Proin sed diam eget nulla cursus consequat finibus in tortor. Donec at condimentum tellus. Aenean vel consequat urna.

Vivamus ut mollis dolor, id pretium nulla. Donec elementum velit sed enim faucibus, non fringilla odio porttitor. Quisque felis nisi, vehicula a interdum commodo, venenatis sit amet tortor. Mauris in feugiat odio, eu molestie est. Phasellus non semper metus. In non massa sem. Aliquam eu hendrerit nulla. Vestibulum tortor turpis, lacinia ac justo eu, imperdiet ullamcorper tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris sit amet tortor id diam aliquet dapibus. Sed luctus luctus massa, in efficitur urna placerat eu. Integer varius ante lacus.

Cras accumsan, dolor eget mattis blandit, felis erat mollis sapien, egestas elementum odio magna sed nulla. Morbi sed convallis est, a rutrum nulla. Nulla metus risus, bibendum sed nunc id, fringilla ultricies nunc. Donec in justo et tortor euismod tincidunt sit amet sed mauris. Aliquam erat volutpat. Integer enim velit, dignissim sit amet velit id, tempor lacinia enim. Quisque eget aliquet velit. Phasellus nulla nunc, suscipit at mattis vitae, egestas at metus. Sed in viverra odio. Donec blandit tincidunt metus ac luctus. Morbi et cursus augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a lorem et lacus bibendum eleifend in quis magna.
	</div>
</div>


<!--
<div class="row">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">Resize the page or change the numbers to see the d3 re-render!</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3"><hr></div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3" ng-controller="DemoCtrl">
      <span>{{title}}</span>
      <d3-bars data="d3Data" label="name" on-click="d3OnClick(item)"></d3-bars>
      <br>
      <br>
      <span>First Item</span>
      <input type="text" ng-model="d3Data[0].score"></input>
      <br>
      <span>Second Item</span>
      <input type="text" ng-model="d3Data[1].score"></input>
      <br>
      <span>Third Item</span>
      <input type="text" ng-model="d3Data[2].score"></input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3"><hr></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3" ng-controller="Demo2Ctrl">
      <span>{{title}}</span>
      <d3-bars data="d3Data" label="title"></d3-bars>
      <br>
      <br>
      <span>First Item</span>
      <input type="text" ng-model="d3Data[0].score"></input>
      <br>
      <span>Second Item</span>
      <input type="text" ng-model="d3Data[1].score"></input>
      <br>
      <span>Third Item</span>
      <input type="text" ng-model="d3Data[2].score"></input>
    </div>
  </div>
</div>
-->
