<div class="row marketing">
  <label for="visualizationsSelection">Select Visualization</label>
  <select id="visualizationsSelection">
    <option>Donut Chart Visualization</option>
    <option>Average traffic congestion in specific weather conditions</option>
    <option>Traffic jams on a map of Belgium</option>
    <option>Average traffic congestion displayed over time</option>
  </select>
</div>
<div class="row marketing">
  <donut-chart data="chart" ng-repeat="chart in charts"></donut-chart>
</div>
