<div class="layoutcol mainLeftCol">
	<div class="layoutrow dvdataselection">
		<div class="container-fluid">
			<dv-data-selection></dv-data-selection>
		</div>
	</div>
	<div class="layoutrow logorow">
		<div class="container-fluid">
			<div class="col-md-6">
				<img src="/images/logo_UGent.png" id="ugentlogo">
			</div>
			<div class="col-md-6">
				<h2>Big Data Science 2015-2016</h2>
			</div>
		</div>
	</div>
</div>

<div class="layoutcol mainRightCol">
	<dv-manual></dv-manual>
</div>

<!--
<dv-bars-demo></dv-bars-demo>
<d3-belgium></d3-belgium>
-->