<div class="modal-dialog">
	<div class="modal-header" style="width: 100%; float: center; height: 1%;">
	  <h3>{{modalOptions.headerText}}</h3>
	</div>
	<div class="modal-body" style="height:450px; overflow-y: auto; width:100%;" >
		<div class="row">
			<div class="col-md-6 col-xs-6" id="manageColumns">
				<div class="well" style="width:95%; overflow-y: auto; margin-left:2.5%; height: 460px;">
					
					<h4> General Information </h4>
					
					<label style="width: 35%">Dataset name: </label><input ng-model="datasetName" type="text" style="width:65%;"> <br>
					<label style="width: 35%">Dataset path: </label><input ng-model="datasetPath" type="text" style="width:65%;"> <br>
					<hr style="height:1px;border:none;color:#333;background-color:#333;" />

					<h4> Column Information </h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th><strong>Column name</strong></th>
								<th><strong>Mapping</strong></th>
								<th><strong>Delete?</strong></th>
							</tr>
						</thead>
						<tbody ng-repeat="column in columns">
							<tr>
								<td>{{column.name}}</td>
								<td>{{column.mapping}}</td>
								<td><span style="cursor:pointer;" ng-click="deleteColumn(column)" class="glyphicon glyphicon-minus"></span></td>
							</tr>
						</tbody>
					</table>

					<h4> Add a column </h4>

					<label style="width: 25%">Column name:</label><input ng-model="currentColumn.name" type="text" style="width:55%;"> <br>
					<label style="width: 25%">Mapping:</label><input ng-model="currentColumn.mapping" type="text" style="width:55%;">
					<span id="validateColumnSpan" class="glyphicon glyphicon-remove-circle icon-danger"></span>
					<span id="newColumn" ng-style="addColumnSpan" class="glyphicon glyphicon-plus-sign" ng-click="addColumn()" style="cursor:pointer;"></span> <br>
					<label style="width: 25%">Dict:</label><input ng-model="currentColumn.dict" type="text" style="width:55%;"><br>
					<code>{{currentColumn.data}}</code>		
				</div>
			</div>
			<div class="col-md-6 col-xs-6" id="manageColumns" ng-controller="PopupCtrl">
				<div class="row">
					<h4 class="glyphicon" ng-class="{'glyphicon-plus-sign': !jsonCodeVisible, 'glyphicon-minus-sign': jsonCodeVisible}" id="toggleJson" style="margin-left:2.5%; cursor:pointer;" ng-click="toggleJSON()">Data</h4>
				    <pre id="jsonCode" style="width:90%; overflow-y: auto; margin-left:2.5%; height: 390px;" ng-show="jsonCodeVisible">{{modalOptions.jsonData}}</pre>
				</div>
				<div class="row">
					<h4 class="glyphicon"  ng-class="{'glyphicon-plus-sign': jsonCodeVisible, 'glyphicon-minus-sign': !jsonCodeVisible}" id="toggleExample" ng-click="toggleJSON()" style="margin-left:2.5%; cursor:pointer;">Example</h4>
					<div id="exampleCode" class="right-column well" style="width:90%; margin-left:2.5%; overflow-y: auto; height: 390px;" ng-hide="jsonCodeVisible">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><strong>Column name</strong></th>
									<th><strong>Mapping</strong></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Locatie</td>
									<td>$.KMI_daily[*].Collections.Weerinfo[*].Station</td>
								</tr>
								<tr>
									<td>Temperatuur</td>
									<td>$.KMI_daily[*].Collections.Weerinfo[*].Temperatuur (C)</td>
								</tr>
								<tr>
									<td>Tijdstip</td>
									<td>$.KMI_daily[*].Time</td>
								</tr>
							</tbody>
						</table>
						<hr>
					  	<pre>
{ 
 "KMI_daily": [
	{
	 "Time": "Fri May 16 2014",
	 "Frequency": "Daily",
	 "Collections": { 
	 "Weerinfo": [ 
		{
		 "Station": "Bierset",
		 "Temperatuur (C)": "13.7",
		 "Luchtvochtigheid (%)": "57.2",
		 "Windsnelheid": "13.4"
		},
		{
		 "Station": "Buzenol",
		 "Temperatuur (C)": "14.0",
		 "Luchtvochtigheid (%)": "55.9",
		 "Windsnelheid": "15.6"
		},
		 ...
	 ]
	},
	...
 ]
}
						</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer" style="width: 100%;">
	  <button type="button" class="btn" 
	          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
	  <button class="btn btn-primary" 
	          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
	</div>
</div>
