<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body" style="height:500px; overflow-y: auto;" >
	
	<div class="row" id="manageColumns">
		<div class="well" style="width:95%; overflow-y: auto; margin-left:2.5%; height: 200px;">
			
			<h4> General Information </h4>
			
			<label>Dataset name:</label><input ng-model="datasetName" type="text" style="width:30%;">
			<label>Dataset path:</label><input ng-model="datasetPath" type="text" style="width:30%;"> 
			<hr style="height:1px;border:none;color:#333;background-color:#333;" />

			<h4> Column Information </h4>

			<label>Column name:</label><input ng-model="currentColumn.name" type="text" style="width:30%;">
			<label>Mapping:</label><input ng-model="currentColumn.mapping" type="text" style="width:30%;"> 
			<span id="validateColumnSpan" class="glyphicon glyphicon-remove-circle icon-danger"></span>
			<span id="newColumn" ng-style="addColumnSpan" class="glyphicon glyphicon-plus-sign" ng-click="addColumn()" style="cursor:pointer;"></span> <br>
			<div class="well">
				<code>{{currentColumn.data}}</code>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th><strong>Column name</strong></th>
						<th><strong>Mapping</strong></th>
						<th><strong>Delete?</strong></th>
					</tr>
				</thead>
				<tbody ng-repeat="column in columns">
					<tr>
						<td>{{column.name}}</td>
						<td>{{column.mapping}}</td>
						<td><span style="cursor:pointer;" ng-click="deleteColumn(column)" class="glyphicon glyphicon-minus"></span></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	<div class="row">
		<h4 class="glyphicon glyphicon-minus-sign" id="toggleJson" style="margin-left:2.5%; cursor:pointer;" onclick="hideJsonCode()">Data</h4>
		<div id="jsonCode" class="well" style="width:90%; overflow-y: auto; margin-left:2.5%; height: 125px;">
		  <pre>{{modalOptions.jsonData}}</pre>
		</div>
	</div>
	<div class="row">
		<h4 class="glyphicon glyphicon-minus-sign" id="toggleExample" onclick="hideExampleCode()" style="margin-left:2.5%; cursor:pointer;">Example</h4>
		<div id="exampleCode" class="right-column well" style="width:90%; margin-left:2.5%; overflow-y: auto; height: 125px;">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><strong>Column name</strong></th>
						<th><strong>Mapping</strong></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Locatie</td>
						<td>$.KMI_daily[*].Collections.Weerinfo[*].Station</td>
					</tr>
					<tr>
						<td>Temperatuur</td>
						<td>$.KMI_daily[*].Collections.Weerinfo[*].Temperatuur (C)</td>
					</tr>
					<tr>
						<td>Tijdstip</td>
						<td>$.KMI_daily[*].Time</td>
					</tr>
				</tbody>
			</table>
			<hr>
		  	<pre>
{ 
  "KMI_daily":  [
	{
	  "Time": "Fri May 16 2014",
	  "Frequency": "Daily",
	  "Collections": { 
	  "Weerinfo": [ 
		{
		  "Station": "Bierset",
		  "Temperatuur (C)": "13.7",
		  "Luchtvochtigheid (%)": "57.2",
		  "Windsnelheid": "13.4"
		},
		{
		  "Station": "Buzenol",
		  "Temperatuur (C)": "14.0",
		  "Luchtvochtigheid (%)": "55.9",
		  "Windsnelheid": "15.6"
		},
		  ...
	  ]
	},
	...
  ]
}
			</pre>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" 
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary" 
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>