<div class="layoutcol fullContent">
	<div class="layoutrow titlerow">
		<h3>Visualizations</h3>
	</div>
	<div class="layoutrow titlecontent scroll-y">
		<!-- <dv-bars-demo></dv-bars-demo> -->
		<!-- <div class="container-fluid"> -->
		<d3-calendar config="{domain:'month',range:6,data:accidentsData,start:firstDate,tooltip: true, highlight: 'now'}"></d3-calendar>

		<leaflet center="center" layers="layers" height="300px"></leaflet>
		
		<!-- <d3-stacked-bar data='[]'></d3-stacked-bar>-->
	</div>
</div>
