<div class="layoutcol fullContent">
	<div class="layoutrow titlerow">
		<h3>Visualizations</h3>
	</div>
	<div class="layoutrow titlecontent scroll-y">
		<!-- <dv-bars-demo></dv-bars-demo> -->
		<!-- <div class="container-fluid"> -->
		<div ng-repeat="calInfo in calendarData track by $index">
			<h4>{{calInfo['title']}}</h4>
			index: {{$index}}
			<button class="btn" id="btn-previous{{$index}}">Previous</button><button class="btn" id="btn-next{{$index}}">Next</button>
		<d3-calendar config="{domain:'month',range:1,data:calInfo['data'],start:firstDate, highlight: 'now', legend: [30,60,90,120,150],nextSelector: '#btn-next{{$index}}',previousSelector: '#btn-previous{{$index}}'}"></d3-calendar>
			<br />
		</div>
		<!--<h4>Accidents</h4>
		<button class="btn" id="btn-previous">Previous</button><button class="btn" id="btn-next">Next</button>
		<d3-calendar config="{domain:'month',range:1,data:accidentsData,start:firstDate, highlight: 'now', legend: [30,60,90,120,150],nextSelector: '#btn-next',previousSelector: '#btn-previous'}"></d3-calendar>

		<br />
		<h4>Incidents</h4>
		<button class="btn" id="btn-previous2">Previous</button><button class="btn" id="btn-next2">Next</button>
		<d3-calendar config="{domain:'month',range:6,data:incidentsData,start:firstDate, highlight: 'now', legend: [30,60,90,120,150],nextSelector: '#btn-next2',previousSelector: '#btn-previous2'}"></d3-calendar>
		-->
		<br />

  	

		<leaflet defaults="defaults" center="center" layers="layers" height="600px" paths="routes"></leaflet> 
		<br/>
		<div class="color-box" ng-repeat="c in heatMap track by $index" style="background-color: {{c}};"> {{heatMapBoundaries[$index]}} - {{heatMapBoundaries[$index+1]}}</div>		
		<br/>
		<br/>
		<slider floor="{{ minTime }}" ceiling="{{ maxTime }}" ng-model="currentTime" translate-fn='translateTime' ng-disabled="mapPlaying"></slider>
		<br/>
		<button class="btn" ng-click="mapPlayPause()">{{mapPlayPauseButton}}</button><button class="btn" ng-click="mapStop()">Stop</button>

		<!-- <d3-stacked-bar data='[]'></d3-stacked-bar>-->
	</div>
</div>
